<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss_da_tou.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_tou1.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_tou2.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_xb1.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boss_da_shen.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>277</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_sb1.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_xb.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_sb.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_jiao1.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>782</integer>
				<key>y</key>
				<integer>278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_da_jiao.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>557</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>aizou0.png</string>
			<key>realTextureFileName</key>
			<string>aizou0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>